FrenchPhraseBook.Solution/FrenchPhraseBook.Backend.Proxy/Service References/KronosMobileService/TwisterWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TwisterWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITwisterWCFService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Kronos.TongueTwister/TwisterWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Kronos.TongueTwister/TwisterWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Kronos.TongueTwister/TwisterWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FileKeeper.DataAccess" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITwisterWCFService_GetFavourites_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFavourites" />
  </wsdl:message>
  <wsdl:message name="ITwisterWCFService_GetFavourites_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFavouritesResponse" />
  </wsdl:message>
  <wsdl:message name="ITwisterWCFService_SetFavourites_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFavourites" />
  </wsdl:message>
  <wsdl:message name="ITwisterWCFService_SetFavourites_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFavouritesResponse" />
  </wsdl:message>
  <wsdl:portType name="ITwisterWCFService">
    <wsdl:operation name="GetFavourites">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwisterWCFService/GetFavourites" message="tns:ITwisterWCFService_GetFavourites_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwisterWCFService/GetFavouritesResponse" message="tns:ITwisterWCFService_GetFavourites_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFavourites">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwisterWCFService/SetFavourites" message="tns:ITwisterWCFService_SetFavourites_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwisterWCFService/SetFavouritesResponse" message="tns:ITwisterWCFService_SetFavourites_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITwisterWCFService" type="tns:ITwisterWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFavourites">
      <soap:operation soapAction="http://tempuri.org/ITwisterWCFService/GetFavourites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFavourites">
      <soap:operation soapAction="http://tempuri.org/ITwisterWCFService/SetFavourites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITwisterWCFService" type="tns:ITwisterWCFService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITwisterWCFService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFavourites">
      <soap:operation soapAction="http://tempuri.org/ITwisterWCFService/GetFavourites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFavourites">
      <soap:operation soapAction="http://tempuri.org/ITwisterWCFService/SetFavourites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TwisterWCFService">
    <wsdl:port name="BasicHttpBinding_ITwisterWCFService" binding="tns:BasicHttpBinding_ITwisterWCFService">
      <soap:address location="http://localhost/Kronos.TongueTwister/TwisterWCFService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITwisterWCFService" binding="tns:BasicHttpsBinding_ITwisterWCFService">
      <soap:address location="https://laptop-461afooc/Kronos.TongueTwister/TwisterWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>