FrenchPhraseBook.Solution/FrenchPhraseBook.Backend.Proxy/Service References/KronosMobileService/TwisterWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Kronos.TongueTwister/TwisterWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FileKeeper.DataAccess" />
  <xs:element name="GetFavourites">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FileKeeper.DataAccess" minOccurs="0" name="data" nillable="true" type="q1:Favourite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavouritesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FileKeeper.DataAccess" minOccurs="0" name="GetFavouritesResult" nillable="true" type="q2:ArrayOfFavourite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFavourites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFavouritesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>