FrenchPhraseBook.Solution/FrenchPhraseBook.Backend.Proxy/Service References/KronosMobileService/TwisterWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileKeeper.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileKeeper.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Favourite">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnglishText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FrenchText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isFavourited" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="phraseId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Favourite" nillable="true" type="tns:Favourite" />
  <xs:complexType name="ArrayOfFavourite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Favourite" nillable="true" type="tns:Favourite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFavourite" nillable="true" type="tns:ArrayOfFavourite" />
</xs:schema>